header {
  background-color: #2f2e2e;
  padding: 1px 0 1px 0;
}

p.welcome {
  color: white;
  font-family: Avenir;
  font-size: 30px;
}

img.logo {
  padding: 30px 0 0 150px;
  display: none;
}

p.nav {
  font-family: Avenir;
  font-size: 20px;
  display: none;
  float: right;
  padding: 0 500px 0 0;
}

body {
  margin: 0px;
}

@font-face {
  font-family: Avenir;
  src: url("Avenir.otf");
}
