header {
  background-color: #2f2e2e;
  padding: 1px 0 1px 0;
}

p.welcome {
  color: white;
  font-family: Avenir;
  font-size: 30px;
}

img.logo {
  padding: 30px 0 0 150px;
  display: none;
}

div.nav {
  padding: 50px 200px 0 0;
  float: right;
}

p.home {
  font-family: Avenir;
  font-size: 15px;
  display: none;
  float: right;
  padding: 20px 40px 20px 40px;
  background-color: #eaefff;
  color: black;
}

p.news {
  font-family: Avenir;
  font-size: 15px;
  display: none;
  float: right;
  padding: 20px 40px 20px 40px;
  background-color: #eaefff;
  color: black;
}

p.forums {
  font-family: Avenir;
  font-size: 15px;
  display: none;
  float: right;
  padding: 20px 40px 20px 40px;
  background-color: #eaefff;
  color: black;
}

p.vip {
  font-family: Avenir;
  font-size: 15px;
  display: none;
  float: right;
  padding: 20px 40px 20px 40px;
  background-color: #f16876;
  color: black;
}

p.github {
  font-family: Avenir;
  font-size: 15px;
  display: none;
  float: right;
  padding: 20px 40px 20px 40px;
  background-color: #eaefff;
  color: black;
}

p.ptut {
  font-family: Avenir;
  font-size: 15px;
  display: none;
  float: right;
  padding: 20px 40px 20px 40px;
  background-color: #eaefff;
  color: black;
}

p.server {
  font-family: Avenir;
  font-size: 15px;
  display: none;
  float: right;
  padding: 20px 40px 20px 40px;
  background-color: #eaefff;
  color: black;
}

footer {
  background-color: #2f2e2e;
  padding: 30px 0 500px 45px;
  color: white;
  font-family: Avenir;
  font-size: 14px;
}

a {
  text-decoration: none;
}

body {
  margin: 0 0 0 0;
}

@font-face {
  font-family: Avenir;
  src: url("Avenir.otf");
}

iframe {
  padding: 10px 0px 0px 20px;
}
